<!DOCTYPE html>
<html th:replace="~{base :: template (~{::main})}">
<body>
    <main>
        <h2>Criar Diarista</h2>

        <form method="POST" th:object="${diarista}" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label" for="nomeCompleto">Nome Completo</label>
            <input class="form-control" type="text" th:field="*{nomeCompleto}">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('nomeCompleto')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="cpf">CPF</label>
            <input class="form-control" type="text" th:field="*{cpf}" data-mask="000.000.000-00">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('cpf')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="email">E-mail</label>
            <input class="form-control" type="email" th:field="*{email}">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('email')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="telefone">Telefone</label>
            <input class="form-control" type="text" th:field="*{telefone}" data-mask="(00) 00000-0000">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('telefone')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="logradouro">Logradouro</label>
            <input class="form-control" type="text" th:field="*{logradouro}">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('logradouro')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="numero">Número</label>
            <input class="form-control" type="text" th:field="*{numero}">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('numero')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="bairro">Bairro</label>
            <input class="form-control" type="text" th:field="*{bairro}">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('bairro')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="complemento">Complemento</label>
            <input class="form-control" type="text" th:field="*{complemento}">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('complemento')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="cep">CEP</label>
            <input class="form-control" type="text" th:field="*{cep}" data-mask="00000-000">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('cep')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="estado">Estado</label>
            <input class="form-control" type="text" th:field="*{estado}">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('estado')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="cidade">Cidade</label>
            <input class="form-control" type="text" th:field="*{cidade}">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('cidade')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>
            <div class="mb-3">
            <label class="form-label" for="codigoIbge">Código IBGE</label>
            <input class="form-control" type="text" th:field="*{codigoIbge}">
            <ul style="list-style-type: none; margin-left: -28px;">
                <li th:each="erro : ${#fields.errors('codigoIbge')}" th:text="${erro}" style="color: red; font-size: 0.8rem;"></li>
            </ul>
        </div>

        <div class="mb-3">
            <label class="form-label" for="imagem"></label>
            <input type="file" class="form-control" id="imagem" name="imagem">
        </div>

        <button class="btn btn-primary" type="submit">Salvar</button>
        </form>
    </main>
</body>
</html>